
.growth-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    color: #424242;


    .growth-card{
        width: 80%;
        height: 40%;
        background-color: #d4d4d4;
        border: 1.5px solid black;
        border-radius: 10px;

        .growth{
            margin-left: 10px;
            margin-top: 17px;
            font-size: 32px;
            font-weight: bold;
        }

        .data{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            text-align: center;
            .user-data{
                flex: 1;
                .user-number{
                    font-weight: bold;
                    font-size: 60px;
                }
            }

            .subscription-data{
                flex: 1;
                .user-number{
                    font-weight: bold;
                    font-size: 60px;
                }
            }

            .social-media-data{
                flex: 1;
                .user-number{
                    font-weight: bold;
                    font-size: 60px;
                }
            }
        }

    }
}