
/* src/assets/fonts/fonts.css */
@font-face {
  font-family: 'Antebas';
  src: url('./Components/Assets/fonts/Antebas.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.master{
  background-color: #ffffff;
}